In [10]:
import datetime

Today = datetime.date.today()
display(Today)
Ten_years_ago = Today - datetime.timedelta(days=3653)

Today = Today.strftime("%Y-%m-%d")
display(Today)

Ten_years_ago = Ten_years_ago.strftime("%Y-%m-%d")
display(Ten_years_ago)

datetime.date(2024, 7, 25)

'2024-07-25'

'2014-07-25'

In [21]:
import pandas as pd
import numpy as np

dates = pd.date_range(start='1-1-2018', periods=72, freq=pd.offsets.MonthEnd(1))
dates

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31',
               '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
               '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31',
               '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31'],
              dtype='datetime64[ns]', freq='M')

In [22]:
values = np.random.uniform(0, 100, len(dates))
df = pd.DataFrame({'Data': dates, 'Wartość': values})
df

         Data    Wartość
0  2018-01-31  74.355823
1  2018-02-28  25.863422
2  2018-03-31  10.018884
3  2018-04-30  26.870665
4  2018-05-31  24.924414
..        ...        ...
67 2023-08-31  57.150972
68 2023-09-30  34.794640
69 2023-10-31  99.221213
70 2023-11-30  26.812068
71 2023-12-31  30.728202

[72 rows x 2 columns]

In [28]:
średnia_rok = df.groupby(df['Data'].dt.year)['Wartość'].mean()
display(średnia_rok)

średnia_miesiąc = df.groupby(df['Data'].dt.month)['Wartość'].mean()
display(średnia_miesiąc)

Data
2018    47.308353
2019    27.238759
2020    43.557066
2021    46.562164
2022    37.778230
2023    50.503085
Name: Wartość, dtype: float64

Data
1     27.043795
2     63.495022
3     32.993321
4     32.117556
5     35.648269
6     57.734150
7     42.352564
8     50.755133
9     44.512225
10    25.059715
11    29.486810
12    64.696751
Name: Wartość, dtype: float64